<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Address:</strong> <%= @user.address %></p>

<p><strong>Restaurants:</strong></p>
<ul>
  <% @user.restaurants.each do |restaurant| %>
  <li><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></li>
  <% end %>
</ul>

<form action="/restaurants/search" method="post">
  <input type="hidden" name="search[location]" value="<%= @user.address %>">
  <input type="hidden" name="search[term]" value="restaurant"></p>
  <input type="hidden" name="search[limit]" value="5"></p>
  <input type="submit" class="btn btn-default" value="Search nearby">
</form>

<form action="/users/<%= @user.id %>/edit" method="POST">
  <input type="submit" class="btn btn-default" value="Edit User">
</form>

<form action="/users/<%= @user.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-default" value="Delete User">
</form>
