<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>"></p>
  <p>Rating: <input type="text" name="restaurant[rating]" value="<%= @restaurant.rating %>"></p>
  <p>Address: <textarea name="restaurant[address]" rows="4" cols="20"><%= @restaurant.address %></textarea></p>
  <!-- <p>Address: <input type="text" name="restaurant[address]" value="<%= @restaurant.address %>"></p> -->
  <p><input type="submit" value="Edit Restaurant"></p>
</form>
